<% provide :title%>
<body>
  <h1><%= t ".title" %></h1>
  <p>
    <%= link_to t ".link_to_home"%><%= t ".link_name" %>
  </p>
  <%= link_to (t ".link_help"), "/static_pages/help" %>
  <%= link_to (t ".link_about"), "/static_pages/about" %>
  <%= link_to (t ".link_contact"), "/static_pages/contact "%><br>
</body>
