<% provide :title%>
<body>
  <h1><%= t ".title" %></h1>
  <p>
    <%= link_to t ".linktohome"%><%= t ".linkname" %>
  </p>
  <%= link_to (t ".linkhelp"), "/static_pages/help" %>
  <%= link_to (t ".linkabout"), "/static_pages/about" %>
  <%= link_to (t ".linkcontact"), "/static_pages/contact "%><br>
</body>
