<header>
  <div>
    <%= link_to t("lang_english"), locale: "en" %>
    <%= link_to t("lang_vietnam"), locale: "vi" %>
  </div>
</header>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to (t "title_app"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("title_home"), root_path %></li>
        <li><%= link_to t("title_about"), about_path %></li>
        <li><%= link_to t("title_contact"), contact_path %></li>
        <li><%= link_to t("title_help"), help_path %></li>
        <li><%= link_to t("login"), login_path %></li>
        <li><%= link_to t("lang_english"), locale: "en" %></li>
        <li><%= link_to t("lang_vietnam"), locale: "vi" %></li>
      </ul>
    </nav>
  </div>
</header>
